<main>
  <section class="cv-cover">
    <div class="circle">
      <img
        src="../assets/fotoSophia.svg"
        alt="foto de perfil"
      />
    </div>
    <div>
      <p>Sophia Vieira de Caires</p>
      <h2>Técnica em Desenvolvimento de Sistemas</h2>
    </div>
  </section>
  <section>
    <h1>Contato</h1>
    <hr>
    <p>
      <a href="http://www.linkedin.com/in/sophiacaires"
        >www.linkedin.com/in/sophiacaires</a
      >
    </p>
    <p>
      <a href="mailto:sophiacaires04@gmail.com">sophiacaires04&#64;gmail.com</a>
    </p>
    <p>+55 (11) 97404-1229</p>
    <p>Bairro Nossa Sra. Aparecida - Itu/SP</p>
  </section>
  <section>
    <h1>Experiência</h1>
    <hr>
    <h3>Representante de Classe (2020 - 2021)</h3>
    <p>
      - Mediação de conflitos e reivindicações;
      <br />
      - Intercâmbio de informações entre a classe e a comunidade escolar.
    </p>
    <h3>Responsável pela Gestão do Projeto Axol Games (2022)</h3>
    <p>Site: <a href="http://axolgames.fun">axolgames.fun</a></p>
  </section>
  <section>
    <h1>Formação</h1>
    <hr>
    <h3>Fatec Itu - Dom Amaury Castanho (2023 - 2025)</h3>
    <p>Tecnólogo em Análise e Desenvolvimento de Sistemas</p>
    <h3>Etec Itu - Martinho Di Ciero (2020 - 2022)</h3>
    <p>Ensino Médio Profissionalizante - Desenvolvimento de Sistemas</p>
  </section>
  <section>
    <h1>Habilidades</h1>
    <hr>
    <p>
      - Figma;  <br>
      - Pacote Office;  <br>
      - Programação Web;  <br>
      - Javascript; <br>
      - Typescript;  <br>
      - React JS;  <br>
      - Modelagem de Banco de Dados (MySQL);  <br>
      - Inglês fluente.
    </p>
  </section>
</main>
