*{
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.6;
  color: #fafafa;
}

body{
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #09090b;
}

main{
  background-color: #18181b;
  border-top: 6px solid #aec043;
  padding: 0 0 1rem 0;
  margin: 0 auto;
  position: relative;
}

a{
  text-decoration: none;
}

section{
  padding: 0.5rem 5rem;
  justify-content: center;
  align-items: center;
}

section > h1{
  margin-bottom: 0;
}

.cv-cover{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cv-cover p, .cv-cover h2{
  margin: 0;
}

.icon{
  width: 3rem;
  height: 3rem;
}

.circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.circle img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1000px) {
  main{
    max-width: 45%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  main{
    max-width: 80%;
  }
}

@media screen and (max-width: 1660px) {
  section{
    padding: 0.2rem 2.5rem;
    justify-content: center;
    align-items: center;
  }

  .cv-cover{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
}
